#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: var(--purple);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 20rem;
    }

    strong {
      font: 700 2.25rem var(--font-poppins); //? 36px
      line-height: 2.625rem; //? 42px
      margin-top: 1rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: var(--white-background);
    }
  }


  main {
    flex: 8;

    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 1.5rem;
      margin: 4rem 0 1.5rem;
      font-family: var(--font-poppins);
    }

    form {
      input {
        height: 3.125rem; //? 50px
        border-radius: 0.5rem;
        padding: 0 1rem;
        background-color: var(--white);
        border: 1px solid var(--gray-medium);
        outline: 0;
        transition: border 0.2s;

        &:focus {
          border-color: var(--purple);
        }
      }

      button {
        margin-top: 1rem;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 0.875rem;
      color: var(--gray-dark);
      margin-top: 1rem;

      a {
        color: var(--pink);
      }
    }
  }

  .create-room {
    margin-top: 4rem;
    height: 3.125rem;
    border-radius: 0.5rem;
    font-weight: 500;
    background: var(--google);
    color: var(--white);
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 0.2s;

    img {
      margin-right: 0.5rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 0.875rem;
    color: var(--gray-medium);
    
    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--gray-medium);
      margin-right: 1rem;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--gray-medium);
      margin-left: 1rem;
    }
  }
}