#page-room {
  padding-bottom: 4rem;

  header {
    padding: 1.5rem;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 2.8125rem; //? 45px
      }

      > div {
        display: flex;
        gap: 1rem;
      }
    }
  }

  main {
    max-width: 50rem;
    margin: 0 auto;

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: var(--font-poppins);
        font-size: 1.5rem;
        color: var(--black);
      }

      span {
        margin-left: 1rem;
        background: var(--pink);
        border-radius: 100rem;
        padding: 0.5rem 1rem;
        color: var(--white);
        font-weight: 500;
        font-size: 0.875rem;
      }
    }
    
    form {
      textarea {
        width: 100%;
        border: 1px solid transparent;
        padding: 1rem;
        border-radius: 0.5rem;
        background: var(--white-details);
        box-shadow: 0 2px 12px rgba(0, 0 ,0 ,0.05);
        resize: vertical;
        min-height: 8.125rem;
        outline: 0;
        transition: border 0.2s;

        &:focus {
          border-color: var(--purple);
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5rem;
            color: var(--black);
            font-weight: 500;
            font-size: 0.875rem;
          }
        }

        > span {
          font-size: 0.875rem;
          color: var(--gray-dark);
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: var(--purple);
            text-decoration: underline;
            font-size: inherit;
            font-weight: inherit;
          }
        }
      }
    }

    .question-list {
      margin-top: 2rem;
    }

    .empty-questions {
      max-width: 18rem;
      margin: 4rem auto 0;
      text-align: center;

      h2 {
        font-family: var(--font-poppins);
        color: var(--black);
        font-weight: 700;
        font-size: 1.125rem;
        margin: 1rem 0 0.5rem;
      }

      p {
        font-size: 0.875rem;
        color: var(--gray-dark);
        line-height: 1.5;
      }
    }
  }
}